<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Project_BC17</title>
    <link rel="stylesheet" href="./userAccount.css" />
  </head>
  <body>
    <section class="user__acc-fav-section">
      <h2 class="user__acc-fav-section-title">Обрані оголошення</h2>

      <ul class="user__acc-fav">
        <!-- <li class="user__acc-fav-add">
          <div class="img-div">
            <img src="#" alt="name-of-add" />
          </div>
          <div>
            <div class="user__acc-title-price">
              <h3 class="user__acc-title">Футболка спортивна</h3>
              <span class="user__acc-price">200.00 грн.</span>
            </div>
            <p class="user__acc-add-desctiption">Опис характеристик футболки</p>
            <button class="user__acc-del-fav">Видалити з обраних</button>
          </div>
        </li> -->

        <li class="user__acc-fav-add">
          <div class="img-div">
            <img src="#" alt="name-of-add" />
          </div>
          <div>
            <div class="user__acc-title-price">
              <h3 class="user__acc-title">Футболка спортивна</h3>
              <span class="user__acc-price">200.00 грн.</span>
            </div>
            <p class="user__acc-add-desctiption">Опис характеристик футболки</p>
            <button class="user__acc-del-fav">Видалити з обраних</button>
          </div>
        </li>
      </ul>
    </section>

    <section class="user__acc-myadd-section">
      <h2 class="user__acc-fav-section-title">Мої оголошення</h2>

      <ul class="user__acc-my-adds">
        <!-- <li class="user__acc-my-add">
          <div class="img-div">
            <img src="#" alt="name-of-add" />
          </div>
          <div>
            <div class="user__acc-title-price">
              <h3 class="user__acc-title">Майка</h3>
              <span class="user__acc-price">100.00 грн.</span>
            </div>
            <p class="user__acc-add-desctiption">Опис характеристик майки</p>
            <button class="user__acc-del-myadd">Видалити оголошення</button>
          </div>
        </li> -->
        <li class="user__acc-my-add">
          <div class="img-div">
            <img src="#" alt="name-of-add" />
          </div>
          <div>
            <div class="user__acc-title-price">
              <h3 class="user__acc-title">Майка</h3>
              <span class="user__acc-price">100.00 грн.</span>
            </div>
            <p class="user__acc-add-desctiption">Опис характеристик майки</p>
            <button class="user__acc-del-myadd">Видалити оголошення</button>
          </div>
        </li>
      </ul>
    </section>
  </body>
</html>
