.team__box-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(30, 41, 57, 0.5);
  z-index: 1;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

/* .team__box {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transition: opacity 200ms linear;
} */
.team-hide {
  display: none;
}

.team__content-box {
  top: 48%;
  transform: translateY(-50%);
  display: flex;
  width: 90%;
  height: auto;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}
/* 
.is-open {
  display: flex;
  opacity: 1;
  pointer-events: initial;
} */

.team__image {
  display: block;
  width: 650px;
  height: auto;
}

.team__box-close-btn {
  display: block;
  /* position: absolute; */
  top: 10;
  right: 10px;
  background-color: transparent;
  border: none;
  background-image: url("../images/icon_close.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.team__description {
  padding: 30px 10px;
  font-size: 16px;
  font-family: "Montserrat";
  color: rgb(0, 0, 0);
  line-height: 1.2;
}
