.popular-wrapper {
  margin-top: 58px;
  background-color: #ffffff;
}

.popular-title {
  font-family: "Montserrat-Medium";
  color: #000000;
}

.popular-description {
  font-family: "Montserrat-Regular";
  color: #a8a8a8;
}

.button-category-view,.button-popularAll {
  color: #ff6b08;
  cursor: pointer;
  text-decoration: none;
  font-family: "Montserrat-Regular";
}
