
<!-- Здесь можно взять разметку html документа, которая используется в коде  -->
-->

<!-- Ищи <div class="navigation-form"> в главном index.html -->
<!-- <div class="navigation-form">
    <div class="search_bar">
        <form id="search_form">
            <input type="text" id="search_input">
            <input type="submit" id="search_button">
            <button id="search_clear">×</button>
            <br><br>
            <div class="search_radio-block" id="search_radio-block"></div>
        </form>
    </div>
</div> -->



<!--Здесь рендерится результат поиска. Сами найдете куда вставить -->
<!-- <ul id="search_list"></ul> -->
<!--
