.search-bar {
    position: relative;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.search_list-item{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    align-items: center;
}
.search-bar__form {
    display: flex;
    width: 84%;
    top: 20px;
    margin: 0 auto;
}

.search-bar__input {
    font-family: "Montserrat-Regular";
    font-size: 14px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right: none;
    padding: 6px 10px;
    width: 100%;
    height: 28px;
    border-radius: 16px 0 0 16px;
    outline: none;
    color: rgba(255, 255, 255, 0.2);
    background-color: #131f30;
}

.search-bar__input:focus {
    color: rgba(255, 255, 255, 0.2);
    border: 1px solid #ff6b08;
}

.search-bar__button[type="submit"] {
    width: 40px;
    height: 28px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    outline: none;
    background: #131f30;
    border-radius: 0 16px 16px 0;
    background-image: url(./img/search-grey.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.search-bar__button[type="submit"]:hover,
.search-bar__button[type="submit"]:focus {
    background-image: url(./img/search-orange.svg);
}

.search-btns {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.search-btns>button {
    position: relative;
    font-family: "Montserrat-Regular";
    font-size: 12px;
    color: rgba(255, 255, 255, 0.2);
    background: none;
    border: none;
    outline: none;
    width: 60px;
    height: 18px;
}

.btn-refresh:hover {
color: rgb(192, 192, 192);
}

.btn-filter::before {
    position: absolute;
    display: block;
    content: "";
    width: 18px;
    height: 18px;
    top: 0px;
    left: -30%;
    background-image: url(./img/tune.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-refresh::before {
    position: absolute;
    display: block;
    content: "";
    width: 18px;
    height: 18px;
    top: 0px;
    left: -30%;
    background-image: url(./img/replay.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.category__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
}

.category__list-item {
    margin: 5px;
    background-color: transparent;
}

.category__list-item-label:hover {
    border: 1px solid #ff6b08;
    color: #ff6b08;
}

.category__list-item-label {
    background-color: transparent;
    display: block;
    border: 1px solid rgba(172, 172, 172, .4);
    opacity: 1;
    border-radius: 16px;
    font-size: 12px;
    font-family: "Montserrat-Regular";
    letter-spacing: 0.24px;
    color: rgba(172, 172, 172, .4);
    text-align: center;
    padding: 6px 10px;
    cursor: pointer;
}

.category__list-item-radio:checked+.category__list-item-label {
    border: 1px solid #ff6b08;
    color: #ff6b08;
    opacity: 1;
}

/* VISUALLY HIDDEN ELEMENTS */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.search-btns-mobile {
    margin-top: 20px;
}

@media (min-width: 768px) {

    .search-bar {
        width: auto;
        padding: 0;
        margin-top: 30px;
    }
    .search_list-item{
        flex-direction:row;
        margin-top: 30px;
    }

    .search-bar__input {
        border: none;
        border-radius: 30px 0 0 30px;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        width: 500px;
        height: 48px;
    }

    .search-bar__input:focus {
        color: rgb(0, 0, 0);
        /* border: 1px solid #ff6b08; */
        border: none;
    }

    .search-bar__button[type="submit"] {
        width: 40px;
        height: 48px;
        border: none;
        background-color: #ffffff;
        border-radius: 0 30px 30px 0;
        background-image: url(./img/search-grey.svg);
        background-size: 18px 18px;
    }

    .search-btns {
        padding: 0px;
    }



}

@media (min-width: 1280px) {

    .search-bar {
        margin-top: 0;
        text-align: center;
    }

    .category {
        display: block;
    }

    .category__list-item:not(:last-child) {
        margin-bottom: 0;
    }

    .search_list {
        justify-content: center;
    }

}

/* BURGER MENU */

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn {
    position: absolute;
    display: flex;
    align-items: center;
    top: 30px;
    left: 30px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 21;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 20px;
    list-style: none;
    background-color: #131f30;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
    z-index: 20;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

@media (min-width: 768px) {

    .category {
        /* margin-top: 30px; */
        display: block;
    }

    .category__list {
        justify-content: center;
        margin-top: 30px;
    }

    .menu__box {
        width: 600px;
    }

    .menu__btn {
        top: 35px;
        left: 60px;
    }
}