<button class="left-mobile-arrow"></button>
<span class="name">{{title}}</span>
<span class="price">{{price}} грн</span>
<div class="modal-img">
    <img class="image-item" src="{{images}}" alt="" width="230px" height="250px">
</div>
<a class="link" href=""><button class="buy-button"><span>Купить</span></button></a>
<span class="favorites">В избранное</span>
<button class="favorite"></button>
<span class="description">Описание</span>
<p class="about">{{description}}</p>