<div class="auth-modal">
  <p class="auth-text">Для авторизации можете использовать Google Account:</p>
  <button class="auth-google-btn">
    <img src="../images/google-icon.png" alt="google-icon" />Google
  </button>
  <p class="auth-text">Или войдите в приложение используя e-mail и пароль:</p>
  <input type="email" name="email" placeholder="E-mail" />
  <input type="password" name="password" placeholder="Пароль" />
  <div class="auth-btns">
    <button class="login">Войти</button>
    <button class="registration">Регистрация</button>
  </div>
</div>