<button class="modal-info__left-mobile-arrow"></button>
<span class="modal-info__name">{{title}}</span>
<span class="modal-info__price">{{price}} грн</span>
<div class="modal-info__modal-img">
    <img class="modal-info__image-item" src="{{images}}" alt="" width="230px" height="250px">
</div>
<a class="modal-info__link" href=""><button class="modal-info__buy-button"><span>Связаться с
            продавцом</span></button></a>
<span class="modal-info__favorites">В избранное</span>
<button id="modal-info__favorite"></button>
<span class="modal-info__description">Описание</span>
<p class="modal-info__about">{{description}}</p>