body {
  box-sizing: border-box;
  position: relative;
  font-size: 18px;
  font-family: "Montserrat", serif;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  width: 100vw;
  height: 100vh;
}

.show-modal .modal-info__modal {
  transform: scale(1);
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

.modal-info__overlay {
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}
.modal-info__modal {
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translateY(50%);
  transform: translateX(-50%); */
  width: 320px;
  height: 500px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
}

button.modal-info__left-mobile-arrow {
  margin-top: 34px;
  margin-left: 20px;
  margin-bottom: 23px;
  display: block;
  width: 18px;
  height: 18px;
  border: none;
  background-color: #fff;
  background-image: url("../../icons/arrow-2/arrow_back-black-18dp/1x/baseline_arrow_back_black_18dp.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

.js-fav {
  visibility: hidden;
}

.fav {
  fill: red;
  background-repeat: no-repeat;
  border: none;
  display: inline-block;
  position: absolute;
  bottom: 26.5%;
  left: 63%;
  background-color: none;
  cursor: pointer;
  visibility: hidden;
}

.fav2{
  fill: red;
  background-repeat: no-repeat;
  border: none;
  display: inline-block;
  position: absolute;
  bottom: 70%;
  left: 55%;
  background-color: none;
  cursor: pointer;
  /* visibility: hidden; */
}

button.modal-info__left-mobile-arrow:focus {
  outline: none;
}

span.modal-info__name {
  font-size: inherit;
  color: #000;
  font-family: inherit;
  font-weight: bold;
  padding-left: 23px;
}

span.modal-info__price {
  color: #ff6b08;
  font-family: inherit;
  font-weight: bold;
  display: block;
  margin-top: 53px;
  padding-left: 23px;
  margin-bottom: 32px;
}

img.modal-info__image-item {
  position: absolute;
  width: 230px;
  height: 230px;
  transform: translate(11%, 16%);
}

/* .stop-scrolling {
  height: 100%;
  overflow: hidden;
} */

button.modal-info__buy-button {
  background-color: rgb(255, 107, 8);
  width: 280px;
  height: 60px;
  border: none;
  margin-left: 6%;
  margin-bottom: 18px;
  transition: all 0.3s;
}

button.modal-info__buy-button:focus,
button.modal-info__buy-button:hover{
  cursor: pointer;
}

@keyframes wobble-horizontal {
  16.65% {
    transform: translateX(8px);
  }
  33.3% {
    transform: translateX(-6px);
  }
  49.95% {
    transform: translateX(4px);
  }
  66.6% {
    transform: translateX(-2px);
  }
  83.25% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}
.modal-info__buy-button {
  display: inline-block;
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.modal-info__buy-button:hover {
  animation-name: wobble-horizontal;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

button.modal-info__buy-button:focus {
  outline: none;
}

button.modal-info__buy-button > span {
  color: #fff;
  font-size: 16px;
}

span.modal-info__favorites {
  color: #878686;
  font-size: 12px;
  font-weight: light;
  display: inline-block;
  margin-left: 6%;
  margin-bottom: 40px;
}

span.modal-info__description {
  display: block;
  color: #878686;
  font-size: 12px;
  font-weight: light;
  margin-left: 6%;
}

p.modal-info__about {
  font-weight: normal;
  font-size: 13px;
  margin-left: 6%;
  padding-right: 20px;
}

button#modal-info__favorite {
  background-image: url("../../public/SVG-sprite/favorite-icon.svg");
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  border: none;
  display: inline-block;
  position: absolute;
  bottom: 12.2%;
  left: 34%;
  background-color: #fff;

  cursor: pointer;
}

button#modal-info__favorite:focus {
  outline: none;
}

.modal-info__modal-img {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  width: 280px;
  height: 305px;
  position: relative;
  left: 6%;
  margin-bottom: 142px;
}

/* MEDIA */

@media (min-width: 718px) {
  .modal-info__wrapper {
    width: 650px;
    height: 430px;
  }

  .modal-info__modal {
    width: 650px;
    height: 470px;
  }

  button.modal-info__left-mobile-arrow {
    margin-top: 34px;
    margin-left: 91%;
    margin-bottom: 23px;
    display: block;
    width: 24px;
    height: 24px;
    background-color: #fff;
    background-image: url("../../public/SVG-sprite/close-24px.svg");
    background-repeat: no-repeat;
  }

  span.modal-info__name {
    margin-left: 50%;
  }

  span.modal-info__price {
    margin-left: 50%;
  }

  .modal-info__modal-img {
    left: 4%;
    bottom: 124px;
  }

  button.modal-info__buy-button {
    position: absolute;
    left: 47%;
    top: 32%;
    margin-top: 90px;
  }

  span.modal-info__favorites {
    position: absolute;
    left: 47%;
    bottom: 17%;
  }

  button#modal-info__favorite {
    left: 66%;
    bottom: 25%;
  }

  .fav {
    bottom: 25%;
    left: 66%;
  }

  span.modal-info__description {
    position: absolute;
    left: 47%;
    bottom: 17%;
  }

  p.modal-info__about {
    position: absolute;
    left: 47%;
    bottom: 4%;
    padding-right: 20px;
  }
}

@media (min-width: 1036px) {
  .modal-info__wrapper {
    width: 780px;
    height: 450px;
  }

  .modal-info__modal {
    width: 780px;
    height: 470px;
  }

  img.modal-info__image-item {
    bottom: 25%;
  }

  .modal-info__modal-img {
    bottom: 4%;
    left: 8%;
    margin-bottom: 142px;
  }

  span.modal-info__name {
    position: absolute;
    top: 12%;
    right: 42%;
  }

  span.modal-info__price {
    margin-left: 0;
    position: absolute;
    top: 16%;
    right: 37%;
  }

  button.modal-info__left-mobile-arrow {
    width: 48px;
    height: 48px;
    background-image: url("../../icons/close/close-24px.svg");
  }

  button.modal-info__buy-button {
    left: 46%;
    top: 32%;
  }

  span.modal-info__favorites {
    left: 46%;
    top: 70%;
  }

  button#modal-info__favorite {
    position: absolute;
    left: 63%;
    top: 70%;
  }
  span.modal-info__description {
    left: 46%;
    top: 79%;
  }

  p.modal-info__about {
    padding-right: 60px;
    left: 46%;
    top: 82%;
  }

  .fav {
    bottom: 26.5%;
    left: 63%;
  }
}
