/* label,
input[type="file"] {
  width: 100%;
} */

/* input[type="text"],

input[name="desc"],
input[name="price"],
input[name="phone"],
textarea,
select {
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
} */

.modal-create-ad {
  font-family: "Montserrat-Regular";
  position: relative;
}

.modal-create-ad__window {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0px 8px 24px 0px rgba(29, 29, 27, 0.1);
}

.modal-create-ad__content {

  width: 100%;
  height: 100%;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  /* разрешим скролить */
  overflow: auto;
}

.creat_add_field {
  margin: 20px 0;
}

button.modal-create-ad__btn-close {
  position: absolute;
  top: 20px;
  right: 15px;
  border: 0;
  padding: 0;
  display: block;
  width: 30px;
  height: 30px;
  background-color: #fff;
  background-image: url("../../public/SVG-sprite/close-24px.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.modal-create-ad__content h4 {
  font-family: "Montserrat";
  /* font-size: 18px; */
  text-align: center;
}

.modal-create-ad__submit {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  font-size: 12px;
  color: #ffffff;
  background-color: #ff6b08;
  border-radius: 30px;
  cursor: pointer;
  padding: 10px 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.modal-create-ad__submit:hover {
  background-color: #fff;
  color: #ff6b08;
  border: 1px solid #ff6b08;
  margin-top: 19px;
  margin-bottom: 19px;
}


.modal-create-ad__overlay {
  display: block;
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.302;
}

@media (min-width: 768px) {
  .modal-create-ad__window {
    width: 600px;
    max-width: 100%;
    height: 640px;
    max-height: 100%;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
  }
}

@media (min-width: 1280px) {}


#modal-create-ad__input-name,
.modal-create-ad__input-upload-photos,
.modal-create-ad__input-price,
.modal-create-ad__input-phone,
.modal-create-ad__input-description,
.modal-create-ad__select-category {
  width: 100%;
  height: 30px;
  border: none;
  /* border: 1px solid #ff6b08; */
  /* background-color: rgb(240, 240, 240); */
  border-bottom: 1px solid rgb(192, 192, 192);
  font-size: 12px;
  color: #999;
  font-weight: 300;
}

.modal-create-ad__input-description {
  height: 60px;
  resize: none;
}

#modal-create-ad__input-name:hover,
#modal-create-ad__input-name:focus,
.modal-create-ad__input-upload-photos:hover,
.modal-create-ad__input-upload-photos:focus,
.modal-create-ad__input-price:hover,
.modal-create-ad__input-price:focus,
.modal-create-ad__input-phone:hover,
.modal-create-ad__input-phone:focus,
.modal-create-ad__input-description:hover,
.modal-create-ad__input-description:focus,
.modal-create-ad__select-category:hover,
.modal-create-ad__select-category:focus {
  border: none;
  outline: 2px solid #ff6b08;
}

.create_ad-label {
  color: #999;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.load_photo-att {
  font-size: 9px;
}