<div class="modal-create-ad">
	<div class="modal-create-ad__window">
		<button class="modal-create-ad__btn-close"></button>
		<div class="modal-create-ad__content">
			
			
			<h4>Создать объявление</h4>
			<label>Название товара</label>
			<input class="modal-create-ad__input-name" type="text" name="title" placeholder="Название товара" />
			<label>Фото</label>
			<input class="modal-create-ad__input-upload-photos" type="file" />
			{{!-- <input class="modal-create-ad__input-upload-photos" type="file" />
			<input class="modal-create-ad__input-upload-photos" type="file" />
			<input class="modal-create-ad__input-upload-photos" type="file" />
			<input class="modal-create-ad__input-upload-photos" type="file" />
			<input class="modal-create-ad__input-upload-photos" type="file" /> --}}
			<label>Описание товара</label>
			<textarea class="modal-create-ad__input-description" name="desc" placeholder="Описание товара"></textarea>
			<label>Категория</label>
			<select class="modal-create-ad__select-category" >
				{{#each this}}
				<option>{{this.category}}</option>
				{{/each}}
			</select>
			<label>Цена</label>
			<input class="modal-create-ad__input-price" type="number" name="price"placeholder="0.00 грн" />
			<label>Телефон</label>
			<input class="modal-create-ad__input-phone" type="tel" name="phone" placeholder="+38 (0--) --- -- --" />
			<button class="modal-create-ad__submit">Добавить</button>
		</div>
	</div>
	<div class="modal-create-ad__overlay"></div>
</div>