<div class="modal-create-ad__window">
	<div class="modal-create-ad__content">
		<button class="btn-close">Закрыть</button>
		<h4>Создать объявление</h4>
		<input type="text" placeholder="Название товара" />
		<input type="file" />
		<input type="file" />
		<textarea placeholder="Описание товара"></textarea>
		<select>
			<option>{{ category }}</option>
		</select>
		<input type="number" placeholder="0.00 грн" />
		<input type="tel" placeholder="+38 (0--) --- -- --" />
		<button class="modal-create-ad__submit">Добавить</button>
	</div>
</div>
<div class="modal-create-ad__overlay"></div>